In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir('C:\Apurva\Conservation Games\Games meta-analysis\Datasets\Data Gabon, Orkney, Madagascar and Kenya')
print(os.getcwd())

C:\Apurva\Conservation Games\Games meta-analysis\Datasets\Data Gabon, Orkney, Madagascar and Kenya

## For 7 sets: orkney, gabon, tanzania, madagascar/kenya, vietnam, cambodia, madagascar

In [3]:
df7 = pd.read_csv('combined7.csv', index_col=0)
print("Size of dataset: ", len(df7))
print("Number of null target outputs: ", df7['envProduction'].isna().sum())
print("Usable size of dataset: ", len(df7)-df7['envProduction'].isna().sum())

Size of dataset:  17723
Number of null target outputs:  2732
Usable size of dataset:  14991

In [4]:
print("Null/NaN values in every attribute for every dataset:")

col_list = sorted(df7.columns)
loss_matrix = df7.groupby('country')[col_list[0]].apply(lambda x: x.isna().sum())
for col in col_list[1:]:
    loss_matrix = pd.concat([loss_matrix, df7.groupby('country')[col].apply(lambda x: x.isna().sum())], axis=1)
loss_matrix.T.to_csv('df7_loss.csv')
loss_matrix.T

Null/NaN values in every attribute for every dataset:

country,KEN,MAD,cambodia,gabon,madagascar,orkney,tanzania,vietnam
Age_1,0,0,0,0,24,0,0,0
Age_2,55,0,0,0,0,0,0,32
Age_3,0,0,0,0,24,0,0,32
Age_4,0,0,0,0,24,32,0,96
Education_1,0,0,0,0,0,0,0,0
Education_2,0,0,0,0,0,0,0,32
Education_3,0,0,0,0,0,0,0,32
Education_4,0,0,0,0,0,32,0,96
GameID,0,0,0,0,0,0,0,0
Gender_1,0,0,0,0,0,0,0,0
Gender_2,0,0,0,0,0,0,0,32
Gender_3,0,0,0,0,0,0,0,32
Gender_4,0,0,0,0,0,32,0,96
Rounds,0,0,0,0,0,0,0,0
Treatments,0,0,0,0,0,0,0,0
country,0,0,0,0,0,0,0,0
envProduction,474,1338,0,515,0,158,247,0
subsidy,474,1338,0,0,0,158,247,0

## For 6 sets: orkney, gabon, tanzania, madagascar/kenya, vietnam, cambodia

In [5]:
df6 = pd.read_csv('combined6.csv', index_col=0)
print("Size of dataset: ", len(df6))
print("Number of null target outputs: ", df6['envProduction'].isna().sum())
print("Usable size of dataset: ", len(df6)-df6['envProduction'].isna().sum())

Size of dataset:  17083
Number of null target outputs:  2732
Usable size of dataset:  14351

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
print("Null/NaN values in every attribute for every dataset:")

col_list = sorted(df6.columns)
loss_matrix = df6.groupby('country')[col_list[0]].apply(lambda x: x.isna().sum())
for col in col_list[1:]:
    loss_matrix = pd.concat([loss_matrix, df6.groupby('country')[col].apply(lambda x: x.isna().sum())], axis=1)
loss_matrix.T.to_csv('df6_loss.csv')
loss_matrix.T

Null/NaN values in every attribute for every dataset:

country        KEN   MAD  cambodia  gabon  orkney  tanzania  vietnam
Age_1            0     0         0      0       0         0        0
Age_2           55     0         0      0       0         0       32
Age_3            0     0         0      0       0         0       32
Age_4            0     0         0      0      32         0       96
Education_1      0     0         0      0       0         0        0
Education_2      0     0         0      0       0         0       32
Education_3      0     0         0      0       0         0       32
Education_4      0     0         0      0      32         0       96
GameID           0     0         0      0       0         0        0
Gender_1         0     0         0      0       0         0        0
Gender_2         0     0         0      0       0         0       32
Gender_3         0     0         0      0       0         0       32
Gender_4         0     0         0      0      32         0       96
Rel1_1           0     0         0      0       0         0        0
Rel1_2           0     0         0      0       0         0        0
Rel1_3           0     0         0      0       0         0        0
Rel1_4           0     0         0      0      32         0        0
Rel2_1           0     0         0      0       0         0        0
Rel2_2           0     0         0      0       0         0        0
Rel2_3           0     0         0      0       0         0        0
Rel2_4           0     0         0      0      32         0        0
Rel3_1           0     0         0      0       0         0        0
Rel3_2           0     0         0      0       0         0        0
Rel3_3           0     0         0      0       0         0        0
Rel3_4           0     0         0      0      32         0        0
RespHOH_1        0     0         0      0       0         0        0
RespHOH_2        0     0         0      0       0         0       32
RespHOH_3        0     0         0      0       0         0       32
RespHOH_4        0     0         0      0      32         0       96
Rounds           0     0         0      0       0         0        0
Treatments       0     0         0      0       0         0        0
country          0     0         0      0       0         0        0
envProduction  474  1338         0    515     158       247        0
subsidy        474  1338         0      0     158       247        0

## For 4 sets: orkney, gabon, tanzania, madagascar/kenya

In [7]:
df4 = pd.read_csv('combined4.csv', index_col=0)
print("Size of dataset: ", len(df4))
print("Number of null target outputs: ", df4['envProduction'].isna().sum())
print("Usable size of dataset: ", len(df4)-df4['envProduction'].isna().sum())

Size of dataset:  9243
Number of null target outputs:  2732
Usable size of dataset:  6511

In [8]:
print("Null/NaN values in every attribute for every dataset:")

col_list = sorted(df4.columns)
loss_matrix = df4.groupby('country')[col_list[0]].apply(lambda x: x.isna().sum())
for col in col_list[1:]:
    loss_matrix = pd.concat([loss_matrix, df4.groupby('country')[col].apply(lambda x: x.isna().sum())], axis=1)
loss_matrix.T.to_csv('df4_loss.csv')
loss_matrix.T

Null/NaN values in every attribute for every dataset:

country                KEN   MAD  gabon  orkney  tanzania
Age_1                    0     0      0       0         0
Age_2                   55     0      0       0         0
Age_3                    0     0      0       0         0
Age_4                    0     0      0      32         0
Com_coord_1              0     0      0       0         0
...                    ...   ...    ...     ...       ...
secondary_priv_tour_1    0     0      0       0         0
secondary_priv_tour_2    0     0      0       0         0
secondary_priv_tour_3    0     0      0       0         0
secondary_priv_tour_4    0     0      0       0         0
subsidy                474  1338      0     158       247

[122 rows x 5 columns]

## 4 sets: Counts of rows with -98 or -99

In [9]:
# type1 has -98 (don't know) and -99 (don't want to answer) values
type1_cols = ['Com_coord_1', 'Com_coord_2', 'Com_coord_3', 'Com_coord_4', 'Com_trust1_1', 'Com_trust1_2', 'Com_trust1_3', 'Com_trust1_4',
              'Com_trust2_1', 'Com_trust2_2', 'Com_trust2_3', 'Com_trust2_4', 'Effects_on_next_gen_1',
              'Effects_on_next_gen_2', 'Effects_on_next_gen_3', 'Effects_on_next_gen_4', 'Effects_on_others_1', 'Effects_on_others_2', 'Effects_on_others_3', 'Effects_on_others_4',
              'Fut_Gen_1', 'Fut_Gen_2', 'Fut_Gen_3', 'Fut_Gen_4', 'Gov_resp_1', 'Gov_resp_2', 'Gov_resp_3', 'Gov_resp_4',
              'Neg_wellb_1', 'Neg_wellb_2', 'Neg_wellb_3', 'Neg_wellb_4', 'Pos_wellb_1', 'Pos_wellb_2', 'Pos_wellb_3', 'Pos_wellb_4',
              'Risk_punish_1', 'Risk_punish_2', 'Risk_punish_3', 'Risk_punish_4', 'Risk_social_1', 'Risk_social_2', 'Risk_social_3', 'Risk_social_4',
              'Trust_govt_1', 'Trust_govt_2', 'Trust_govt_3', 'Trust_govt_4', 'Trust_natpark_1', 'Trust_natpark_2', 'Trust_natpark_3', 'Trust_natpark_4']
# type2 has 0 (neutral) conflated with 'don't know'
# type2_cols

In [10]:
loss_matrix = df4.groupby('country')[type1_cols[0]].apply(lambda x: x.isna().sum())
for col in type1_cols[1:]:
    loss_matrix = pd.concat([loss_matrix, df4.groupby('country')[col].apply(lambda x: ((x==-98)|(x==-99)).sum())], axis=1)
loss_matrix.T.to_csv('df4_loss_codes.csv')
loss_matrix.T

country                KEN   MAD  gabon  orkney  tanzania
Com_coord_1              0     0      0       0         0
Com_coord_2              0    55      0       0         0
Com_coord_3              0   110      0       0         0
Com_coord_4              0    55      0       0         0
Com_trust1_1             0   110      0       0         0
Com_trust1_2             0    55      0       0         0
Com_trust1_3             0     0      0       0         0
Com_trust1_4             0     0      0       0         0
Com_trust2_1             0   110      0       0         0
Com_trust2_2             0    55      0       0         0
Com_trust2_3             0     0      0       0         0
Com_trust2_4             0    55      0       0         0
Effects_on_next_gen_1    0     0      0       0         0
Effects_on_next_gen_2    0     0      0       0         0
Effects_on_next_gen_3    0    55      0       0         0
Effects_on_next_gen_4    0     0      0       0         0
Effects_on_others_1      0     0      0       0         0
Effects_on_others_2      0     0      0       0         0
Effects_on_others_3      0    55      0       0         0
Effects_on_others_4      0   110      0       0         0
Fut_Gen_1                0   165      0       0         0
Fut_Gen_2                0    55      0       0         0
Fut_Gen_3                0   220      0       0         0
Fut_Gen_4                0   110      0       0         0
Gov_resp_1               0    55      0       0         0
Gov_resp_2               0     0      0       0         0
Gov_resp_3              55    55      0       0         0
Gov_resp_4               0   110      0       0         0
Neg_wellb_1              0     0      0       0         0
Neg_wellb_2             55    55      0       0         0
Neg_wellb_3             55     0      0       0         0
Neg_wellb_4              0     0      0       0         0
Pos_wellb_1              0     0      0       0         0
Pos_wellb_2             55   165      0       0         0
Pos_wellb_3              0   110      0       0         0
Pos_wellb_4              0     0      0       0         0
Risk_punish_1            0    55      0       0         0
Risk_punish_2            0     0      0       0         0
Risk_punish_3            0     0      0       0         0
Risk_punish_4            0     0      0       0         0
Risk_social_1            0    55      0       0         0
Risk_social_2            0     0      0       0         0
Risk_social_3            0     0      0       0         0
Risk_social_4            0     0      0       0         0
Trust_govt_1            55  1155      0       0         0
Trust_govt_2             0  1155      0       0         0
Trust_govt_3             0  1100      0       0         0
Trust_govt_4             0  1320      0       0         0
Trust_natpark_1        110     0      0       0         0
Trust_natpark_2        165    55      0       0         0
Trust_natpark_3         55   165      0       0         0
Trust_natpark_4         55     0      0       0         0